<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mongodb - nodejs</title>
  </head>
  <body>
    <div>
      Index
      <ul>
        <% list.forEach(item => { %>
          <li>
            <%=item.path%> - <%=item.method%>
          </li>
        <% }); %>
      </ul>
      Please, use other software to execute the requests.
    </div>
  </body>
</html>
